<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python37\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
